@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@800&display=swap");

$Light-Cyan: hsl(193, 38%, 86%);
$NeonGreen: hsl(150, 100%, 66%);

$Grayish-Blue: hsl(217, 19%, 38%);
$Dark-Grayish-Blue: hsl(217, 19%, 24%);
$Dark-Blue: hsl(218, 23%, 16%);

* {
  margin: 0;
  padding: 0;

  font-family: "Manrope";

  transition: 0.5s ease-in-out;

  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $Dark-Blue;
}

#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  background-color: $Dark-Grayish-Blue;

  width: 460px;

  border-radius: 20px;

  padding: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.adviceNumber {
  font-size: 13px;
  color: $NeonGreen;
  letter-spacing: 5px;

  margin: 20px;
}

.advice {
  font-size: 28px;
  color: $Light-Cyan;

  margin-bottom: 35px;

  font-weight: 800;
}

.divider {
  width: 100%;
  height: 16px;
  background: center no-repeat url("./images/pattern-divider-desktop.svg");

  margin-bottom: 20px;
}

.adviceChanger {
  width: 65px;
  height: 65px;

  background-color: $NeonGreen;

  display: grid;
  place-content: center;

  border-radius: 50%;

  margin-bottom: -53px;

  cursor: pointer;
}

.adviceChanger:hover {
  box-shadow: 0 0 20px $NeonGreen;
}

@media screen and (max-width: 535px) {
  .card {
    width: 77vw;
  }
}
